Pandas Fillna()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\Am\\Desktop\\Pandas\\00_All_DATA_SET\\Fortune_10 _Nan.csv',)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
df.fillna(2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,2
5,6,Techline,2,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,2,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,2,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",2,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df.fillna({'Industry':'None','Expenses':'0','Growth':'0'})

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,0
5,6,Techline,None,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,None,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,None,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",0,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df.fillna(method='ffill')

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,not available
5,6,Techline,not values,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,not values,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not values,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
df.fillna(method='pad')

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\196241153.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='pad')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,not available
5,6,Techline,not values,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,not values,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not values,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [8]:
df.fillna(method='bfill')

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,not available
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","5,635,276 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [10]:
df.fillna(axis=0 ,method='ffill')

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\3805219125.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(axis=0 ,method='ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,not available
5,6,Techline,not values,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,not values,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not values,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df.fillna(method='ffill',axis=1)

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\2272395643.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',axis=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,3138627
5,6,Techline,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Kayelectronics,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","$14,001,180",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [12]:
df.fillna(0,limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,0
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",0,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
df.fillna(limit=1,method='ffill')

C:\Users\Am\AppData\Local\Temp\ipykernel_15088\1891436906.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(limit=1,method='ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,not available
5,6,Techline,not values,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
df.fillna(5,inplace=True)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,5
5,6,Techline,5,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,5,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,5,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",5,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
df.fillna(2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,Techdrill,not values,2009,"$10,573,990","7,435,363 Dollars",3138627,5
5,6,Techline,5,2006,"$13,898,119","5,470,303 Dollars",8427816,not available
6,7,Cityace,5,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,5,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",5,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%